{% extends "blog/base.html" %}


{% block content %}
    <div class="container material-padding-vertical">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Comment Title</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Body</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">POST COMMENT!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
