{% extends "blog/base.html" %}


{% block content %}
    <div class="container material-padding-vertical">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                    <h5 class="card-title">{post.title}</h5>
                    <p class="card-text">
                        <p>{post.content}</p>

                    </p>

            </div>
            <div class="col-md-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Author Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Follow</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Tell us what you thought of the article</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" >

                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Post</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Comments</h3>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Commentor Name</h5>
                    <p class="card-text">I am very witty</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Commentor 2</h5>
                    <p class="card-text">No you aren't</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
